{{#if loginFailed}}
  <div class="alert-box alert">
    Invalid credentials
  </div>
{{/if}}
<form {{action 'authenticate' on='submit'}}>
  <label for="identification">Login</label>
  {{input value=identification placeholder='Enter Login' id="identification"}}
  <label for="password">Password</label>
  {{input value=password placeholder='Enter Password' type='password' id="password"}}
  <button type="submit">Login</button>
</form>
